* {
	background-color: #FDFDFD;
}

body {
	margin-top: 10px;
}

.enter {
	background-color: coral;
	width: 95%;
	height: 270px;
	margin: 75px auto 0 auto;

}

/* Menu */

menu {
	height: 75px;
	margin-top: 0;
}

menu p {
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
}

.about {
	font-family: 'Quicksand', serif;
	font-size: 24px;
	font-weight: 700;
	color: #1A1A1A;
	letter-spacing: 1px;
}

nav {
	display: inline-block;
	float: right;
	margin-top: -57px;
	margin-right: 42px;
}

#avatar {
	height: 55px;
	width: 55px;
	background-color: peachpuff;
	border-radius: 50%;
	border: transparent;
	margin-bottom: -14px;
	margin-right: 7px;
}

/* Section */

.container {
	width: 1320px;
	margin: 40px auto;
}

.clearfix {
	overflow: auto;
}

.little {
	margin-top: -6px;
}

article img {
    float: left;
    margin: 0px 50px 5px 0;
    border-radius: 50%;

}

article p {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	color: #1A1A1A;
	display: inline-block;
}

/* Footer */

.leave {
    background-color: coral;
	width: 95%;
	height: 270px;
	margin: 0 auto;
}

.leave p {
	background-color: coral;
	width: 100%;
	margin: 0 auto;
	padding-top: 245px;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: blanchedalmond;
}

/* Media Queries */

@media (min-width: 400px) and (max-width: 500px) {
	menu {
		width: 75%;
		margin-left: -30px;
	}

	nav {
		width: 50%;
		float: none;
		margin-top: 0;
		padding-top: 10px;
	}

	.container {
		width: 75%;
    }

	article img {
		display: none;
	}
}

@media (min-width: 501px) and (max-width: 740px) {
	menu {
		width: 75%;
		margin-left: -30px;
	}

	nav {
		width: 100%;
		display: inline-block;
		float: none;
		margin-top: 0;
		padding-top: 40px;
	}

	.container {
		width: 75%;
		margin: 0 auto;
		padding-top: 20px;
	}
}

@media (min-width: 741px) and (max-width: 980px) {
	.container {
		width: 75%;
		margin: 40px auto;
	}

	nav {
		margin-right: 25px;
	}
}

@media (min-width: 981px) and (max-width: 1220px) {
	nav {
		margin-right: 20px;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}
} 