body {
	color: 000;
}


div {
	width: 50%;
	margin: 0 auto;
}

p {
	font-family: 'Inconsolata';
}

h1 {
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 50px;
	text-align: center;
	text-decoration: uppercase;
	margin-top: 15px;
}

h2 {
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 32px;
	text-align: center;
	margin-top: 1.5em;
}

h3 {
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 32px;
	text-align: center;
	
}

h4 {
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 32px;
	text-align: center;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: 000;
	text-align: center;
}

.flex-center {
	justify-content: center;
	text-align: center;
	font-family: 'Inconsolata';
	text-decoration: none;
	color: 000;
}

footer {
	font-family: 'Inconsolata';
	text-align: center;
	font-size: 13px;
	margin-top: 30px;
}

/* media queries */

/* for small phones */

@media (max-width: 599px) {
	a.mail {
		margin-left: -45px;
	}
}